header {
  margin: 30px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* this styles the about me section and adds background color */
article {
  background-color: #F2CEAE;
  padding: 20px 20px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 100px;
}

h1 {
  font-size: 60px;
  line-height: 0px;
  color: #F28729;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/*centers and resizes image*/
img {
  display: block;
  width: 30%;
  padding: 50px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;

}

/* adjusts the size of article titles */
h2 {
  font-family:  Helvetica, sans-serif;
  font-size: 25px;
}

/* styles "hello" in the first section */
h2.intro {
  color: #F28729;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding: 0px 20px;
  line-height: 0px;
}

/* adds border to ol items*/
ol li {
  text-align: center;
  list-style-type: none;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;

}

h3 {
  font-size: 20 px;
}

footer {
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  background-color: #A61A0D;
  color: white;
  padding: 25px;
}

/* styles the links */
a:link {
  color: #4F7302;
}
a:visited {
  color: #A61A0D;
}
a:link:hover {
  color: #D95D30;
}
a:visited:hover {
  color: #F28729;
}